<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Welcome to ANF</title>

		<meta name="description" content="ANF index file">
		<meta name="author" content="Cristian Rodríguez Bernal">

		<link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h1>
							ANF! <span>Another NodeJS Framework</span>
						</h1>
					</div>
					<div class="jumbotron">
						<h2>
							Hello!
						</h2>
						<p>
							Welcome to the new NodeJS framework ANF.
						</p>
						<p>
							<a class="btn btn-primary btn-large disabled" href="#">Learn more</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<script src="jquery/dist/jquery.min.js"></script>
		<script src="bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>