doctype html
html(lang="en")
	head
		title TODO LIST
	body
		form(role="form", action="/login", method="post")
			input(type="text", name="email", placeholder="Enter email")
			br
			button(type="submit") Send
		ul
			li
				todos