doctype html
html(lang="en")
	head
		title= pageTitle
	body
		section.todoapp
		footer.info
			p Double-click to edit a todo
			p
				a(href="http://todomvc.com") TodoMVC
		script(src="react/react.min.js")
		a(href="http://www.tutorialspoint.com/reactjs/reactjs_environment_setup.htm", target="_link") React Tutorial