h1 - Hi #{title} -
p Thanks for licensing npm Enterprise!
p Once you've configured everything, npm Enterprise will be up and running on 8080. Where `your-server-address` is the host name or IP of the machine you have installed npm Enterprise on.
p For help with the other questions asked during the installation, read the installation instructions and other documentation: